@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    section.forecast {
        display: block;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
        margin-left: 10px;

    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        align-content: space-between;
    }

    .navigation li {
        display: block;
        background-color: lightskyblue;
        margin-top: 0.8%;
        margin-right: 1%;
        border: 1px solid grey;
        margin: 0 auto;
        flex-grow: 1;

    }
    .navigation li:last-child {
        margin-right: 0;
    }
    .navigation li:first-child {
        margin-left: 0;
    }
    .navigation a {
        display: block;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
        font-weight: 800;
    }
    .navigation a:hover {
        background-color: grey;
    }
    .wrapper-header {
        margin-left: -120px;
    }
    .picture-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .picture-container div figure p {
        display: none;
    }
    .highlow {
        width: 50%;
    }
    .fieldset {
        width: 80%;

    }
    /* responsive images */
}
