@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
        margin-left: 10px;
    }
    section.forecast {
        display: block;
    }
    .section1 {
        display: flex;
        flex-direction: row;
    }
    .conditions {
        order: 3;
        width: 30%;
        margin: 0;
        margin: 0 auto;
        font-size: 1.2em;

    }
    .current {
        order: 1;
        width: 30%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
    }
    .current p {
        order: 1;
        font-size: 2em;
        margin: 5% 5%;
    }
    .highlow {
        order: 2;
        width: 30%;
        margin: 0;
        margin: 0 auto;
        font-size: 1.3em;
    }
    .picture-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .picture-container figure figcaption {
        display: block;
    }
    .picture-container figure img:hover {
        box-shadow: 5px 5px 10px gray;
    }
    .picture-container div figure p {
        display: block;
    }

}
