@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
    nav button {
        display: none;
    }
    /* hamburger button does not need to be shown */
    section.forecast {
        display: block;
    }
    /* show the 10-day forecast with the medium view and up */
    article p.town-article img {
        width: 62.666%;
        float: right;
        margin-left: 10px;

    }
    header img {
        float: left;
    }
/*
    nav {
        text-align: center;
        vertical-align: middle;

    }
    nav ul {
        width: 100%;
    }
    nav ul li {
        display: inline;
        float: left;
        width: 16.05%;
        margin: 0;
        padding: 0;
        margin-bottom: 2em;
    }
    nav ul li a {
        padding: 15%;
        height: 4em;

    }
    */
    header .subheading {
        position: relative;
        left: 0;
        top: 0;
        margin: 0% 15%;
        font-size: 2em;

    }
    header h1 {
        position: relative;
        left: 0;
        top: 0;
        margin: 0% 15%;
        font-size: 2.5rem;
    }
    header {
        height: 25%;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        overflow: hidden;
        text-align: center;
    }
    .navigation li {
        display: inline-block;
        margin-left: .25em;
        background-color: lightskyblue;
        width: 14%;
        margin-top: 1%;
        margin-right: 1%;
        border: 1px solid grey;
    }
    .navigation a {
        display: block;
        color: #eee;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
        font-weight: 800;
    }
    .navigation a:hover {
        background-color: grey;
    }
    /* responsive images */
}
