/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    background-color: whitesmoke;
    background-image: url(/images/bodybackground.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;


    /* Declare the base font-family - from google font api or other */
}

header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.logo {
    height: 30px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
}

header h1 {
    font-size: 1.6em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: whitesmoke;
}

.mainImg-container {
    position: relative;
    text-align: center;
}

.motto {
    position: absolute;
    top: 30px;
    left: 12px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px black;
}

.shopButton {
    position: absolute;
    top: 75px;
    left: 12px;
    background: rgba(0, 0, 0, .2);
    border-color: #fff;
    font-size: 1em;
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.7;
    border: 1px solid white;
    background-color: black;
}

.shopButton a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

.shopButton:hover {
    opacity: 1;
}

#mainImage {
    width: 100%;
}

.info {
    position: absolute;
    bottom: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: left;
    color: white;
    padding: 3%;
    background-color: black;
    opacity: 0.7;
}

.info span {
    font-size: 1em;
}

.div-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0;
    padding: 0;

}

.div-container div {
    position: relative;
    text-align: center;
    cursor: pointer;
    max-width: 100%
}

.div-container div:hover {
    opacity: 0.95;
}

.div-container div div {
    position: absolute;
    bottom: 5px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-weight: 600;
    border: 1px solid black;
    width: 100%;
    height: 20%;
    background-color: black;
    opacity: 0.5;
}

.div-container div div:hover {
    opacity: 1;
}

.div-container div img {
    width: 100%;
    height: 100%;
    border: 0.5px solid white;
    padding: 0;
    margin-top: -4px;
}

.hamburger {
    position: absolute;
    top: 2%;
    right: 3%;
    opacity: 0.8;
    background-color: mintcream;
    color: white;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5em;
}

.navigation {
    list-style: none;
    padding-left: 0;
    width: 95%;
    margin: 0 auto;
}

.navigation li {
    display: none;
}

.navigation li a {}

.navigation.responsive {
    position: absolute;
    top: 63px;
    right: 0;
    width: 75%;
    height: 70%;
}

.navigation.responsive li {
    display: block;
    background-color: black;
    width: 100%;
    padding: 4.8%;
    opacity: 0.5;

}

.navigation.responsive li:hover {
    opacity: 1;
}

.navigation.responsive li a {
    text-align: right;
    text-decoration: none;
    font-size: 1rem;
    color: #eee;
    font-weight: 800;
    display: block;
}

main h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}

main div {
    width: 95%;
    height: 150px;
    border: 1px solid white;
    margin-bottom: 3%;
    background-color: #566069;
    position: relative;
    text-align: center;
    opacity: 0.8;
}

main div a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    text-align: center;
    color: white;
}

main div img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 50px;
}

iframe {
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 100%;
}

footer {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: black;
    color: white;
    padding: 2% 2%;
}

footer p {
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.sales-span {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.sales-span img {
    margin-bottom: 1%;
}

.sales-span ul {
    text-align: left;
}

.sales-span p {
    background-color: black;
    color: white;
    padding: 2% 2%;
    cursor: pointer;
}

.span-image {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    text-align: center;
    color: white;
}

.bike-picture {
    width: 100%;
    height: 100%;
    position: relative;
}

.who-are-we {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    padding: 5%;
}

fieldset {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2%;
}

legend {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    margin-left: 1%;
    padding: 3%;
    border: grey solid 1px;
    background-color: #8D8741;
    font-size: 1.3em;
    font-weight: bolder;
    opacity: 0.7;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

label {
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    margin: .7%;
    margin-bottom: 5%;
}

label span {
    font-family: 'Open Sans Condensed', sans-serif;
    display: block;
    font-size: 1.2em;
    color: #7C4B22;
    padding-top: 1%;
    padding-bottom: .2%;
    margin-top: 2%;
}

.buttonLeft {
    background-color: #4C721D;
    margin-left: .7%;
    -webkit-transition-duration: 0.3s;
    /* Safari */
    transition-duration: 0.4s;
    color: white;
    width: 150px;
    padding: 3% 3%;
    text-align: center;
    border-radius: 5px;
}

.buttonLeft:hover {
    background-color: grey;
    /* Green */
    color: antiquewhite;
}

.panel {
    display: none;
}

.accordion:hover {
    opacity: 0.7;
}

.sales-span h3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 15%;
}


th,
td {
    padding: 5px;
    border: 1px solid white;
}

th {}

td {
    font-weight: bolder;
}

table {
    margin: 0 auto;
    width: 90%;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 5%;
    background-color: white;
    opacity: 0.8;
    border-spacing: 0;
    border: 1px solid black;
    color: black;
}

.tableHeading {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;

}

.tourDiv {
    border: 1px solid black;
    width: 90%;
    height: 100%;
    opacity: 1;
    background-color: white;
    font-family: 'Open Sans Condensed', sans-serif;

}

.tourDiv ul {
    list-style-type: none;
    text-align: center;
    padding: 0;

}

.tourDiv h4,
p {
    text-align: justify;
    margin: 0 auto;
    padding: 3%;
}

.tourHeading {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;

}

.thanks {
    background-color: white;
    opacity: 1;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    height: 500px;
    padding: 0;
    text-align: center;
}

.thanks p {
    margin-top: 5%;
    text-align: center;
}

.emptyDiv {
    height: 500px;
}

