@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
        margin-left: 10px;
    }
    header img {
        float: left;
    }

    section.forecast {
        display: block;
    }
    nav {}
    nav ul {
        width: 100%;
        margin: 0 auto;
    }
    nav ul li {
        display: inline;
        float: left;
        width: 16.66%;
        margin: 0;
        padding: 0;
        border: 2px groove grey;

    }
    nav ul li a {
        padding: 10% 10%;

    }
}
